@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
    background-color: #f1f1f1;
    margin-bottom: 100px;

    &__top {
        padding-top: 30px;
        margin-bottom: 70px;
    }

    &__top--inner {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        font-size: 32px;
        letter-spacing: 2px;
        font-weight: 700;
        font-family: "Roboto";

        &:hover,
        &:focus {
            color: #fda300;

        }

        span {
            color: #fda300;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        width: 390px;
        font-size: 20px;
        line-height: 24px;
        color: #5c5c5c;
        font-weight: 500;

    }

    &__item {

        &:hover,
        &:focus {
            color: #fda300;

        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        padding-top: 160px;
        font-size: 44px;
        line-height: 62px;
        color: #3a3a3a;
        font-weight: 600;
        margin-bottom: 45px;
    }

    &__title {
        span {
            display: block;
        }
    }

    &_text {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #3a3a3a;
    }

}

// header ecxit


.advantages {
    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 115px;
    }

    &__item {
        width: 360px;
        text-align: left;

    }

    &__title {
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 600;
    }

    &__text {
        color: #252525;
    }

}

// advantages ecxit


.sentence {
    background-color: #f1f1f1;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
    }

    &__info {}

    &__title {
        padding-top: 45px;
        margin-bottom: 66px;
        text-transform: uppercase;
        font-size: 36px;
        letter-spacing: 2px;
        line-height: 50px;
        color: #000000;

        font-weight: 600;

        span {
            display: block;
            color: #fda300;
        }
    }

    &__items {}

    &__item {
        padding: 0 40px 0 65px;
        width: 420px;
        margin-bottom: 25px;
        font-family: "Open Sans";
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: #000;
            left: 0;
            top: 15px;
        }
    }

    &__item--title {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;

        margin-bottom: 15px;
    }

    &__item--text {
        color: #666666;
        font-weight: 400;

    }

    &__gallery {}

    &__photo-1 {}

    &__photo-2 {}

    &__photo-3 {}
}


@import "media";